.aside-admin {
  .offcanvas-header,
  .offcanvas-body {
    padding: 0;
    background-color: var(--secundary-color);
    text-align: center;
    position: relative;
  }

  .offcanvas-header {
    padding: 1rem;
  }
  img {
    width: 200px;
    padding-bottom: 2rem;
  }

  ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: start;
  }

  .footer-list {
    position: absolute;
    bottom: 1rem;
    padding-inline-start: 1rem;
  }

  .btn-admin {
    width: fit-content;
    padding-right: 0 !important;
  }
}