.home {
  background-color: var(--primary-color-dark);
  
}

.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  .btn-size {
    padding: 6px 12px;
    color: var(--secundary-color-dark);
    border-radius: 20px;
  }
  img {
    height: 100%;
    width: 100%;
  }
  .img-rounded-left {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  
  h1, h4, p {
    color: var(--secundary-color-dark);
    
  }
  h1 {
    font-family: var(--font-title);
  }

}
