
.home{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: var(--primary-color-homedark);
  .texto-home{
    max-width: 700px;
    margin: 0 auto;
    color: var(--secundary-color-dark);


    .h1-home {
  font-size: 2.8rem;
  font-weight: bold;
  display: inline-block;
}



    .btn-home{
    
      .btn{
        background-color: transparent;
       border-radius: var(--border-hight);
       border: 1px solid var( --secundary-color-dark);
       color: var( --secundary-color-dark);
       padding-inline: 1rem;
       padding-block: 0.5rem;
      font-size: 1rem;
     
     }

     .btn:hover{
      background-color: var(--secundary-color-dark);
      color: var(--primary-color);
     }
    }
  }

  

  .image-col{
      padding: 0;
     
    .img-fluid{
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        object-fit: cover;
        box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
        
    }
  }
}



.section-3 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: var(--primary-color-homedark);
    .texto{
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: var(--secundary-color-dark);
    }
}
h2 {
    font-family: var(--font-title);
    color: var(--secundary-color-dark);

  }


  
.img{
    border-radius: 10px;
     box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
     
    
  }



    .h2-section2{
      color: var( --tertiary-color-almu);
      font-weight: bold;
    }
    .h3-title{
      font-weight: bold;
      text-wrap-style: pretty;
      color: var(--secundary-color-dark);
    }

  .text-center{
    .p-text{
      padding-inline: 4rem;
    }
  }

  .section-2{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .icono{
     color: var(--secundary-color-dark);
  }

 
  .section-servicios{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .newsletter-section{
   
    background-color: var(--primary-color-homedark);

  }



  @media (width<1200px){
   .section-2{ 
    h2.title{
      font-size: 1.5rem;
    }
    .h3-title{
      font-size: 1.2rem;
    }
    p{
      font-size: .8rem;
    }}

    
  
  }

@media (width<995px){

    
  .home{
   .texto-home{
    .h1-home{
      font-size: 2rem;
      font-weight: bold;
    }
   }
  }

  .section-2{
    .h2-section2{
      font-size: 1;
    }

    .text-center{
      .h3-title{
        font-size: 1rem;
      }

      .p-text{
        padding-inline: .5rem;
      }
    }
  }

    .section-3{
      
      .h2-section3, .p-section3{
        text-align: center;
        
      }
      .h2-section3{
        font-size: 1.4rem;
      }
    
    }

    .section-servicios{

      .h2-sectionService{
        font-size: 1.3rem;
      }
    }

}


@media (width<768px){

  .home{
     background: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../../../../public/images/home.png);
    background-size: cover;
    object-fit: cover;
    background-position: bottom;

   .texto-home{
    color: var(--primary-color);
    text-align: center;
   
    .btn-home{
      display: flex;
      align-items: center;
      justify-content: center;
      .btn{
        background-color: transparent;
       border-radius: var(--border-hight);
       border: 1px solid var(--primary-color);
       color: var(--primary-color);
       padding-inline: 1rem;
       padding-block: 0.5rem;
       display: flex;
       justify-content: center;
       align-items: center;
      font-size: 1rem;
     }
     .btn:hover{
      background-color: var(--primary-color);
      color: var(--secundary-color-dark);
     }
    }
   }

   .image-col{
    display: none;
    
  }

  }

  
}


@media (width<485px){
  .home{

    .texto-home{
      .h1-home{
        font-size: 1.5rem;
      }

      p{
        font-size: 1rem;
      }
    }
  }
}
