
.card-newsletter {
    background-color: transparent;
    font-family: var(--font-form);
    
    border: 0;

    .title-new{
        font-weight: bold;
        color: var(--secundary-color-dark);
        font-family:var(--font-title) ;
        font-size: 2rem;
    }


    .label-new{
        color: var(--secundary-color-dark);
    }

    input{
      border: 2px solid var(--tertiary-color);
      border-radius: var(--border-hight);
      height: 50px;
    }

    .cardtexto{
        color: var(--secundary-color-dark);
        text-wrap-style: pretty;
    }

}




@media (width>1200px){
    .card-newsletter{
        margin-inline: 12rem;
    }
}


@media (width<768px){
    .card-newsletter{
      
       

        .title-new{
            font-size: 1.5rem;
            
        }

        .label-new{
            font-size: .8rem;
        }

        input{
            height: 40px;
        }

        .boton-new{
            font-size: .9rem;
        }
    }

}

@media (width<481px){
    .card-newsletter{
      
        .cardtexto{
            font-size: .7rem;
        }

        

        
    }

}

@media (width<431px){
    .card-newsletter{
      
        .cardtexto{
            font-size: .7rem;
        }

        .title-new{
            font-size: 1.3rem;
        }

        
    }

}

@media (width<394px){
    .card-newsletter{
      
        .cardtexto{
            font-size: .7rem;
        }

        .title-new{
            font-size: 1.2rem;
        }

        
    }

}