.edit-form {
    width: 100%;
    padding: 1rem;

    .input-div{
        display: flex;
        flex-direction: column;
        padding-top: 0.5rem;
        

        input {
            border-radius: var(--border-hight);
            padding: 0.5rem 1rem; 
            border: 1px solid var(--secundary-color);

        }

        textarea{
            border-radius: var(--border-medium);
            padding: 0.5rem 1rem; 
            border: 1px solid var(--secundary-color);
        }

        

    }

    span {
        display: inline-block;
        margin-block-start: 0.5rem;
    }

    .img-input {
            background-color: var(--primary-color);
            border: 2px dashed var(--secundary-color);
            border-radius: var(--border-medium);
            padding: 0.5rem 1rem;
            text-align: center;
            cursor: pointer;
            i {
                color: var(--secundary-color);
            }

            input,
            label {
                cursor: pointer;
            }
        }

    

    
}