@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root{
    /* Colores */
    --primary-color: hsl(40, 37%, 97%);
    --primary-color-2: #f5f1e8;
    --primary-color-dark: #f3f3e5;
    --primary-color-homedark: #E7DED3;
    --secundary-color: #8b6e52;
    --secundary-color-dark: #5C4033;
    --tertiary-color: #7b9c7a;
    --tertiary-color-dark: #597258;
    --tertiary-color-almu: #4B7F52;
    --tertiary-color-darkgreen: #2D3B2D;
    --err-color: #DC143C;
    --err-color-dark: #BF1234;
    --primary-oscuro:#e7e2d8;

    /* Bordes */
    --border-low: 10px;
    --border-medium: 20px;
    --border-hight: 50px;

    /* Padding */


    /* tipografia */
    --font-title: 'Georgia', serif;
    --font-body: 'Georgia', serif;
    --font-form: 'Arial', sans-serif;


  }

  body{
    font-family: var(--font-title);
  }
  