.admin-card-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  height: 100%;

  h3 {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h3:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .card-img {
    width: 100%;
    border-radius: 25px;
    &:hover {
      border: 2px;
      padding: 0.5rem;
      cursor: pointer;
    }
  
}

.btn-card {
  border: 1px solid rgba(0, 0, 0, 0.175);
}

.card-img-blur {
  filter: blur(2px) grayscale(80%) brightness(60%);


  .card-img {
    width: 100%;
    border-radius: 25px;
    &:hover {
      border: 2px;
      padding: 0.5rem;
      cursor: pointer;
    }
  }

  .btn-card {
    border: 1px solid rgba(0, 0, 0, 0.175);
  }

  .card-img-blur {
    filter: blur(2px) grayscale(80%) brightness(60%);
  }

  
}
}



