.admin-card-text {
  display: flex;
  flex-direction: column;
  text-align: center;

  h3:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}



.card-img {
    height: 160px;
    width: 100%;
  &:hover {
    border: 2px solid black;
    border-radius: 25px;
    padding: 0.5rem;
    cursor: pointer;
  }
  
}

.btn-card {
  border: 1px solid rgba(0, 0, 0, 0.175);
}

.card-img-blur {
  filter: blur(2px) grayscale(80%) brightness(60%);
}