.modal-titleForm{
     color: var(--tertiary-color);

}

.edit-form {
        width: 100%;
        padding: 1rem;
        color: var(--tertiary-color);

        .input-div{
            display: flex;
            flex-direction: column;
            padding-top: 0.5rem;
            color: var(--tertiary-color);
            

            .inputForm {
                border-radius: var(--border-hight);
                padding: 0.5rem 1rem; 
                border: 1px solid var(--tertiary-color);
                background-color: var( --primary-color);

            }

            .inputTextarea{
                border-radius: var(--border-medium);
                padding: 0.5rem 1rem; 
                border: 1px solid var(--tertiary-color);
                background-color: var( --primary-color);
            }

        }

    

        
}
