.section-service {
 
  .service-detail {
    padding: 0;

    .header-section-service {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30vh;
      padding: 0;
      margin: 0;
      overflow: hidden; 
      z-index: 0;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 90%, var(--primary-color-homedark) 100%),
        linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
        url(../../../../public/fondo/naranja.png);
        background-size: cover;
        background-position: bottom;
        filter: blur(2px);
        transform: scale(1.05);
        z-index: 0;
        
      }

      .title-service {
        color: var(--primary-color);
        font-weight: bold;
        z-index: 1; 
        position: relative;
        
        
      }
    }
  }


  .file-service{


    .card-service-unic{
      background-color: var(--primary-color-homedark);
      border-radius: var( --border-medium);
      transform: translate(0, -80px);
      text-wrap-style: pretty;
      padding: 2rem;

      .img-service-unic{
        max-width:50%;

        object-fit: cover;
        margin: 1rem;
        padding: .1rem;
        border-radius: var( --border-medium);
        border: 4px double var(--secundary-color-dark);
        overflow:hidden;
      }
      .img-service-unic:hover{
        -webkit-transform:scale(1.1);
        transform:scale(1.1);
        transition-duration: 1s;
      }

      .h2-service-unic{
        font-weight: bold;
        color: var(--secundary-color-dark);
      }

      .description-service-unic{
        padding-inline: 2rem;
        color: var(--secundary-color-dark);

        .price-service{
          color: var(--secundary-color-dark);
        }
      }
    }
    
  }

  
}

  .h2-section1{
    color: var(--tertiary-color-almu);
  }

  

  @media (width<481px){
    
    .title-service{
      font-size: 1.5rem;
    }
  }

  @media (width<431px){
    .h2-section1{
      font-size: 1.4rem;
    }
    .title-service{
      font-size: 1.4rem;
    }
  }
  @media (width<394px){
    .h2-section1{
      font-size: 1.3rem;
    }
    .title-service{
      font-size: 1.2rem;
    }
  }






/* .section-servicios{
    background: 
    linear-gradient(rgba(255, 255, 255, 0.876), rgb(255, 255, 255, 0.876)), 
    url(../../../../public/fondo/fondo.jpg);
} */
