
.contenedor-form {
    height: calc(100dvh - 150px);
    display: flex;
   

    .div-form {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        

    .register-form {
        box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
        width: 50%;
        background-color: var(--primary-color);
        padding: 3rem;
        border-radius: var(--border-medium);
        border: 1px solid var(--tertiary-color);

        h2{
            color: var(--tertiary-color);
        }

        hr{
            color: var(--tertiary-color);
        }



        .input-div{
            display: flex;
            flex-direction: column;
            padding-top: 0.5rem;
            

            input {
                border-radius: var(--border-hight);
                padding-block: 0.7rem;
                padding-inline: 1rem;
                border: 1px solid var(--secundary-color);

            }

            .div-pass {
                background-color: white;
                border-radius: var(--border-hight);
                display: flex;
                align-items: center;
                border: 1px solid var(--secundary-color);

                input {
                    border: none;
                }

                i {
                    padding-inline: 1rem;
                    cursor: pointer;
                    color: var(--secundary-color);
                }
            }
        }

        .check-input {
            padding-block: 1rem;
            div{
                display: flex;
                label{
                    padding-left: 0.5rem;
                }
            }
            
        }

        .req-zod{
            padding: 1rem;
            background-color: var(--primary-color-2);
            border-radius: var(--border-medium);
            

            p{
                text-align: center;
                font-size: 0.8rem;
                margin: 0;
                padding-block: 0.5rem;
                color: var(--secundary-color);
                font-weight: 500;
            }
        }

        .btn-div{
            padding-block: 1rem;
            display: flex;
            gap: 1rem;
        }

        .link-sesion{
            p{
                .register-link{
                    text-decoration: none;
                    color: var(--tertiary-color);
                    font-weight: 600;
                }
            }
        }

        
    }
}
}