.appointment-admin {
    .title-admin {
        color: var(--tertiary-color-almu);
        margin: 0;
    }
    
    hr {
        color: var(--tertiary-color-almu);
    }

    
}

@media (width<480px){
  .appointment-admin{
     .title-admin{
        font-size: 1.2rem;
       
     }
  }
}




