:root{
  --primary-color: #FAF8F4;
  --text-color: #5A4633;
}

.nav-public{
  background-color: var(--primary-color) ;

   .nav-parents > *{
    color: red;
    
    .active{
    color: blue;
  }
  }

 
  
}