.writer {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
  label {
    display: flex;
    flex-direction: column;
    width: max-content;
  }

  input {
    border-radius: 8px;
    border: 1px solid black;
    padding: 0.25rem;
    background-color: var(--primary-color);
  }

  .writer-buttons {
    display: flex;
    gap: 22px;
    justify-content: end;
    margin-top: auto;
  }

  .text-editor,
  .w-md-editor,
  .w-md-editor-toolbar
   {
    color: black;
    background-color: var(--primary-color);
    border-radius: 8px;

    button {
      color: black;
    }
  }

  .w-md-editor-content,
  .w-md-editor-text-input,
  .w-md-editor-preview {
    height: 100%;
  }

  

  .text-editor {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  
}