.writer {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
  label {
    display: flex;
    flex-direction: column;
    width: max-content;
  }

  input {
    border-radius: 8px;
    border: 1px solid black;
    padding: 0.25rem;
    background-color: var(--primary-color);
  }

  .writer-buttons {
    display: flex;
    gap: 22px;
    justify-content: end;
    margin-top: auto;
  }

  .text-editor,
  .w-md-editor,
  .w-md-editor-toolbar
   {
    color: black;
    background-color: var(--primary-color);
    border-radius: 8px;

    button {
      color: black;
    }
  }

  .w-md-editor-text-pre > code,
  .w-md-editor-text-input {
    font-size: 16px !important;
    line-height: 24px !important;
  }

  .w-md-editor-content,
  .w-md-editor-text-input,
  .w-md-editor-preview {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .text-editor {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .wmde-markdown {
    background-color: var(--primary-color) !important;
    color: black !important;
  }

  .button-upload {
    cursor: pointer;
  }
  
  .input-hide {
  position: absolute;
  left: -9999px;
}

  .fake-button {
    pointer-events: none;
  }

  table {
  background-color: var(--primary-color);
  color: black;
  }
  th {
    background-color: var(--primary-color);
  }
  td, th {
    border: 1px solid #444;
    background-color: var(--primary-color);
  }
}

