
.inputForm{
   border-radius: var(--border-hight);
    padding: 0.5rem 1rem; 
    border: 1px solid var(--tertiary-color);
    background-color: var( --primary-color);
}
select, ::picker(select){
        appearance: base-select;
    }

    option{
        background:var(--primary-color);
        &:hover{
            background: var(--tertiary-color);
            color: white;
        }
        &:checked{
            background-color: var(--tertiary-color);
            color: white;
        }
    }

    ::picker(select){
        box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
        border: none;
        border-radius: 10px;
        margin-bottom: 2px;
        color: var( --secundary-color-dark);
    }