.li {
  &.nav-link {
    display: flex;
    font-size: 20px;
    color: var(--primary-color);
    align-items: center;
    gap: 10px;
    padding-inline: 2rem;
    margin-inline-end: 0.5rem;
    padding-block: 0.5rem;
    border-top-right-radius: 26.75px;
    border-bottom-right-radius: 26.75px;
    transition: 0.3s;
    &.active,
    &:hover {
      font-weight: bold;
      color: var(--secundary-color);
      background-color: var(--primary-color);
    }
  }
  
  i {
    font-size: 25px;
    margin-inline-end: 0.5rem;
  }
}