:root {
  --font-title: 'Georgia', serif;
  --font-body: 'Georgia', serif;
  --primary-color: hsl(40, 37%, 97%);
  --primary-color-2: #f5f1e8;
  --primary-color-dark: #f3f3e5;
  --secundary-color: #8b6e52;
  --secundary-color-dark: #5A4633;
  --tertiary-color: #7b9c7a;
  --tertiary-color-dark: #597258;
}

.ppal {
  background-color: var(--primary-color);
  color: var(--secundary-color-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  button {
    background-color: var(--secundary-color);
    color: var(--primary-color);
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 50px;
    transition: 0.3s;
    &:hover {
      background-color: var(--secundary-color-dark);
    }
  }
}