.whole-service-card {
  height: 100%;
}

.admin-card-service {
  display: flex;
  flex-direction: column;
  height: calc(100% - 88px);
  width: 300px;
  border-radius: 12px;
  padding: 16px;
  background-color: var(--primary-color);
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.175);

  .card-img {
      height: 200px;
      object-fit: cover;
      width: 100%;
      border-radius: 15px;
  }

  .btn-visible {
    width: max-content;
    position: absolute;
    right: 25px;
    top: 25px;
  }

  .description-body {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  

  .card-img-blur {
    filter: blur(2px) grayscale(80%) brightness(60%);
  }

  .service-name{
    color: var(--tertiary-color);
  }
}

.btn-card-service {
    border: 1px solid rgba(0, 0, 0, 0.175);
  }